/* Redireccion Redes Sociales */
#social{
    position: absolute;
    top: 12%;
    text-align: center;
    display: inline-block;
}

img{
    margin-left: 3%;
    width: 11%;
    height: auto;
    margin-bottom: 20px;
}

a{
    color: white;
}